.topnav{
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    height: 90px;
    color:white;
    font-size: 12px;
    list-style-type: none; 
    margin: 0;
}

#topbut{
    padding: 10px 10px;
    font-size: 30px;
    text-decoration:none;
    color:white;
    
}


.nav-header {
    width: 100%;
    /* position: fixed */
}
